; Ansible Managed
; Start a new pool named 'www'.
[www]

; Unix user/group of processes
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

; The address on which to accept FastCGI requests
listen = /run/php/php{{ php_version }}-fpm.sock

; Set permissions for unix socket, if one is used.
listen.owner = {{ php_fpm_pool_user }}
listen.group = {{ php_fpm_pool_group }}

; Configuration of process manager about how it will control the number of child processes
pm = dynamic
pm.max_children = {{ php_fpm_pm_max_children }}
pm.start_servers = {{ php_fpm_pm_start_servers }}
pm.min_spare_servers = {{ php_fpm_pm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_pm_max_spare_servers }}

; Pass environment variables like LD_LIBRARY_PATH. ALL $VARIABLES are taken from the current environment
; Default value: clean env
{% if not php_enable_env_vars %};{% endif %}env[HOSTNAME] = $HOSTNAME
{% if not php_enable_env_vars %};{% endif %}env[PATH] = /usr/local/bin:/usr/bin:/bin
{% if not php_enable_env_vars %};{% endif %}env[TMP] = /tmp
{% if not php_enable_env_vars %};{% endif %}env[TMPDIR] = /tmp
{% if not php_enable_env_vars %};{% endif %}env[TEMP] = /tmp
